services:
  api:
    build:
      context: ../
      dockerfile: .infra/Dockerfile
    ports:
      - "8000:8000"
    environment:
      - ENV=prod
    env_file:
      - .env
    depends_on:
      - postgres
    command: [
      ".venv/bin/python","-m", "src.interfaces.api.v1"
    ]
  
  postgres:
    image: postgres:17-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
