name: Deploy to VM

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ml-vm
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Create secret files
      run: |
          echo "${{ secrets.ENV_FILE }}" > .env
          echo "${{ secrets.DVC_LOCAL_CONFIG_FILE }}" > .dvc/config.local
    
    - name: Pull dvc data
      run: |
        dvc pull --force

    - name: Stop and restart containers
      run: |
        docker compose -f .infra/docker-compose.yml up --build -d && \
        docker compose -f .infra/docker-compose.mlflow.yml up -d
